.grid {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 5px;
    margin: 9 auto;
    width: 80%;
  }
  
  .grid-item {
    border: 8px solid black;
    text-align: center;
    background-color: lightgray;
  }